{%- if style_icon == 'classic' -%}
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search" viewBox="0 0 359.42 359.43" fill="none" aria-hidden="true" focusable="false" role="presentation">
		<path d="M162.15,0c6.1.94,12.23,1.68,18.27,2.85a145.18,145.18,0,0,1,57.5,24.55c27.37,19.56,46.74,45.14,57.26,77.17a148,148,0,0,1,5.57,69.54,149.42,149.42,0,0,1-31,71c-.51.65-1,1.32-1.44,2a5.6,5.6,0,0,1-1,1.46,23.57,23.57,0,0,1,3.47,2.37q41.59,41.52,83.14,83.09c4.37,4.36,6.73,9.22,4.82,15.45a13.81,13.81,0,0,1-21.51,7.19,35.94,35.94,0,0,1-3.9-3.51Q292.14,312,251,270.8a23.24,23.24,0,0,1-2.47-3.56c-2.9,2.18-4.93,3.73-7,5.25a148.6,148.6,0,0,1-70.88,28.69c-37,4.7-71.28-2.86-102.18-23.49C32.14,253.44,9.72,219.59,2.11,176.31,1.28,171.61.7,166.87,0,162.15V140.39a21.72,21.72,0,0,0,.66-3,139.2,139.2,0,0,1,6.71-32.83c10.6-32,29.91-57.59,57.28-77.13A144.88,144.88,0,0,1,122.13,2.85C128.18,1.69,134.3.94,140.39,0ZM28,151.24C28,219,83.39,274.4,151.15,274.5s123.19-55.26,123.35-123S219.05,28,151.21,28,28.07,83.5,28,151.24Z"/>
	</svg>
{%- elsif style_icon == 'basic' -%}
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search icon-search-basic" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false" role="presentation">
		<g id="Search">
		<path id="Vector" d="M22 20.954L16.4133 15.3673C17.7558 13.7556 18.4253 11.6884 18.2825 9.59562C18.1396 7.50288 17.1954 5.54579 15.6464 4.13146C14.0973 2.71713 12.0626 1.95446 9.96554 2.00211C7.86847 2.04975 5.87051 2.90405 4.38728 4.38728C2.90405 5.87051 2.04975 7.86847 2.00211 9.96554C1.95446 12.0626 2.71713 14.0973 4.13146 15.6464C5.54579 17.1954 7.50288 18.1396 9.59562 18.2825C11.6884 18.4253 13.7556 17.7558 15.3673 16.4133L20.954 22L22 20.954ZM3.50598 10.1638C3.50598 8.84703 3.89645 7.5598 4.62803 6.46492C5.3596 5.37004 6.39941 4.51669 7.61598 4.01277C8.83254 3.50886 10.1712 3.37701 11.4627 3.6339C12.7542 3.8908 13.9405 4.5249 14.8716 5.45601C15.8028 6.38713 16.4369 7.57345 16.6937 8.86494C16.9506 10.1564 16.8188 11.4951 16.3149 12.7117C15.811 13.9282 14.9576 14.9681 13.8627 15.6996C12.7678 16.4312 11.4806 16.8217 10.1638 16.8217C8.39865 16.8197 6.70634 16.1176 5.45818 14.8695C4.21001 13.6213 3.50793 11.929 3.50598 10.1638Z" fill="currentColor"/>
		</g>
	</svg>
{%- elsif style_icon == 'modern' -%}
	<div class="icon-style-modern b-circle c-pointer d-flex j-c-center a-i-center">
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search icon-search-modern" width="24" height="25" viewBox="0 0 24 25" fill="none" aria-hidden="true" focusable="false" role="presentation">
			<g clip-path="url(#clip0_4027_11396)">
				<path d="M24 23.2448L17.296 16.5408C18.907 14.6067 19.7104 12.126 19.5389 9.61474C19.3675 7.10346 18.2345 4.75494 16.3756 3.05775C14.5168 1.36055 12.0751 0.445348 9.55864 0.502527C7.04217 0.559706 4.64462 1.58486 2.86474 3.36474C1.08486 5.14462 0.0597056 7.54217 0.00252659 10.0586C-0.0546525 12.5751 0.86055 15.0168 2.55775 16.8756C4.25494 18.7345 6.60346 19.8675 9.11474 20.0389C11.626 20.2104 14.1067 19.407 16.0408 17.796L22.7448 24.5L24 23.2448ZM1.80717 10.2966C1.80717 8.71643 2.27574 7.17176 3.15363 5.85791C4.03152 4.54405 5.2793 3.52003 6.73917 2.91533C8.19905 2.31063 9.80545 2.15241 11.3552 2.46069C12.905 2.76896 14.3286 3.52988 15.446 4.64722C16.5633 5.76456 17.3242 7.18814 17.6325 8.73793C17.9408 10.2877 17.7825 11.8941 17.1778 13.354C16.5731 14.8139 15.5491 16.0617 14.2353 16.9395C12.9214 17.8174 11.3767 18.286 9.79659 18.286C7.67838 18.2837 5.64761 17.4412 4.14981 15.9434C2.65201 14.4456 1.80952 12.4148 1.80717 10.2966Z" fill="currentColor"/>
			</g>
			<defs>
				<clipPath id="clip0_4027_11396">
				<rect width="24" height="24" fill="currentColor" transform="translate(0 0.5)"/>
				</clipPath>
			</defs>
		</svg>
	</div>
{%- elsif style_icon == 'modern-no-bg' -%}
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search" width="24" height="25" viewBox="0 0 24 25" fill="none" aria-hidden="true" focusable="false" role="presentation">
		<g clip-path="url(#clip0_4027_11396)">
			<path d="M24 23.2448L17.296 16.5408C18.907 14.6067 19.7104 12.126 19.5389 9.61474C19.3675 7.10346 18.2345 4.75494 16.3756 3.05775C14.5168 1.36055 12.0751 0.445348 9.55864 0.502527C7.04217 0.559706 4.64462 1.58486 2.86474 3.36474C1.08486 5.14462 0.0597056 7.54217 0.00252659 10.0586C-0.0546525 12.5751 0.86055 15.0168 2.55775 16.8756C4.25494 18.7345 6.60346 19.8675 9.11474 20.0389C11.626 20.2104 14.1067 19.407 16.0408 17.796L22.7448 24.5L24 23.2448ZM1.80717 10.2966C1.80717 8.71643 2.27574 7.17176 3.15363 5.85791C4.03152 4.54405 5.2793 3.52003 6.73917 2.91533C8.19905 2.31063 9.80545 2.15241 11.3552 2.46069C12.905 2.76896 14.3286 3.52988 15.446 4.64722C16.5633 5.76456 17.3242 7.18814 17.6325 8.73793C17.9408 10.2877 17.7825 11.8941 17.1778 13.354C16.5731 14.8139 15.5491 16.0617 14.2353 16.9395C12.9214 17.8174 11.3767 18.286 9.79659 18.286C7.67838 18.2837 5.64761 17.4412 4.14981 15.9434C2.65201 14.4456 1.80952 12.4148 1.80717 10.2966Z" fill="currentColor"/>
		</g>
		<defs>
			<clipPath id="clip0_4027_11396">
			<rect width="24" height="24" fill="currentColor" transform="translate(0 0.5)"/>
			</clipPath>
		</defs>
	</svg>
{%- elsif style_icon == 'default' -%}
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search icon-search-default" width="22" height="22" viewBox="0 0 22 22" fill="none" aria-hidden="true" focusable="false" role="presentation">
		<g clip-path="url(#clip0_4066_11413)">
			<mask id="mask0_4066_11413" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="22">
				<path d="M21.5 0.5H0.5V21.5H21.5V0.5Z" fill="white"/>
			</mask>
			<g mask="url(#mask0_4066_11413)">
				<path d="M21.2215 20.1674C19.9211 18.8682 18.6214 17.5689 17.3216 16.2697L16.959 15.9066C16.9343 15.8825 16.9108 15.8572 16.8855 15.8306L16.7743 15.7145L16.8416 15.6299C18.5096 13.5347 19.1996 11.1819 18.8932 8.63649C18.5806 6.04291 17.3537 3.9242 15.2459 2.34026C13.4823 1.01444 11.3003 0.368519 9.10112 0.522281C6.89697 0.676044 4.80896 1.62579 3.22256 3.19614C1.65037 4.75291 0.692847 6.8216 0.526053 9.02059C0.359259 11.2245 0.997401 13.4272 2.32372 15.223C3.69885 17.0854 5.52988 18.2698 7.76492 18.7428C10.6152 19.3461 13.2642 18.7058 15.637 16.839L15.7216 16.7729L15.8353 16.881C15.8618 16.9063 15.8872 16.9304 15.9119 16.9551L17.0751 18.1179C18.095 19.1374 19.115 20.1576 20.1355 21.1765C20.196 21.237 20.2584 21.2994 20.3258 21.3469C20.5772 21.5254 20.8249 21.5476 21.0831 21.4148C21.3549 21.2759 21.4908 21.061 21.4995 20.7578C21.5057 20.5478 21.4198 20.3657 21.2215 20.1674ZM15.2151 15.1964C13.746 16.6673 11.8013 17.4775 9.73803 17.4775H9.73247C7.66855 17.4763 5.72694 16.671 4.26595 15.2112C2.80496 13.7508 1.99569 11.8075 1.98766 9.73815C1.97963 7.68304 2.78333 5.74156 4.25174 4.27063C5.72076 2.79908 7.66361 1.98889 9.72382 1.98889H9.73618C13.9962 1.99568 17.4711 5.46676 17.4822 9.72703C17.4878 11.7846 16.6822 13.7267 15.2151 15.1964Z" fill="black"/>
			</g>
		</g>
		<defs>
			<clipPath id="clip0_4066_11413">
				<rect width="21" height="21" fill="white" transform="translate(0.5 0.5)"/>
			</clipPath>
		</defs>
	</svg>
{%- elsif style_icon == 'default-text' -%}
	<span class="d-none-mw-md link-style function-menu-item">{{ 'general.search.search' | t }}</span>
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search icon-search-default-text d-none-lg-i" width="16" height="16" viewBox="0 0 16 16" fill="none" aria-hidden="true" focusable="false" role="presentation">
		<g clip-path="url(#clip0_5347_15410)">
			<path d="M11.7337 11.0733C11.7337 11.0733 11.7871 11.1333 11.8137 11.16C13.1337 12.4533 14.4471 13.7533 15.7604 15.0467C15.8204 15.1067 15.8871 15.1733 15.9271 15.2467C16.0404 15.44 16.0004 15.6867 15.8404 15.8467C15.6671 16.0133 15.4137 16.0467 15.2071 15.9133C15.1404 15.8733 15.0871 15.82 15.0271 15.76C13.7004 14.4533 12.3737 13.1467 11.0404 11.84C11.0204 11.82 10.9937 11.8 10.9671 11.7733C10.7471 11.92 10.5337 12.0733 10.3137 12.2133C9.46706 12.7467 8.5404 13.0667 7.54706 13.1867C6.15373 13.3533 4.82706 13.1333 3.59373 12.4733C1.76706 11.5 0.573729 10 0.147063 7.94667C-0.259604 5.97333 0.173729 4.16667 1.4204 2.58C2.5004 1.21333 3.90706 0.38 5.62706 0.1C7.1004 -0.146666 8.51373 0.0600004 9.83373 0.753334C11.7004 1.73333 12.9004 3.25333 13.3271 5.32C13.7004 7.11333 13.3404 8.78667 12.3071 10.3067C12.1271 10.5667 11.9271 10.8133 11.7337 11.0667V11.0733ZM6.73373 12.2267C7.32706 12.2333 7.90706 12.1467 8.46706 11.9667C9.84706 11.52 10.9271 10.68 11.6604 9.42667C12.4004 8.16667 12.6004 6.80667 12.2737 5.38667C11.9404 3.93333 11.1271 2.79333 9.88706 1.97333C8.67373 1.17333 7.32706 0.886667 5.88706 1.1C4.45373 1.30667 3.2604 1.97333 2.3404 3.08C1.31373 4.32 0.893729 5.76 1.1004 7.36667C1.2604 8.62667 1.81373 9.70667 2.71373 10.5933C3.82706 11.68 5.1804 12.2133 6.73373 12.2333V12.2267Z" fill="black"/>
		</g>
		<defs>
			<clipPath id="clip0_5347_15410">
				<rect width="16" height="16" fill="white"/>
			</clipPath>
		</defs>
	</svg>
{%- elsif style_icon == 'special' -%}
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search icon-search-special" width="20" height="20" viewBox="0 0 20 20" fill="none" aria-hidden="true" focusable="false" role="presentation">
		<path d="M7.2487 0.833328C3.71573 0.833328 0.832031 3.71703 0.832031 7.25C0.832031 10.783 3.71573 13.6667 7.2487 13.6667C8.85103 13.6667 10.315 13.069 11.4417 12.0911L11.832 12.4814V13.6667L17.332 19.1667L19.1654 17.3333L13.6654 11.8333H12.4801L12.0898 11.443C13.0677 10.3163 13.6654 8.85233 13.6654 7.25C13.6654 3.71703 10.7817 0.833328 7.2487 0.833328ZM7.2487 2.66666C9.79086 2.66666 11.832 4.70783 11.832 7.25C11.832 9.79216 9.79086 11.8333 7.2487 11.8333C4.70653 11.8333 2.66536 9.79216 2.66536 7.25C2.66536 4.70783 4.70653 2.66666 7.2487 2.66666Z"/>
	</svg>
{%- elsif style_icon == 'classy' -%}
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search icon-search-classy" width="26" height="26" viewBox="0 0 26 26" fill="none" aria-hidden="true" focusable="false" role="presentation">
		<path d="M17.9591 17.3411C18.065 17.4646 18.1638 17.5881 18.2767 17.701C20.4077 19.8356 22.5423 21.9701 24.6734 24.1047C25.0121 24.4434 25.1038 24.7363 24.8886 24.8986C24.5393 25.1632 24.3417 24.8492 24.1371 24.6481C21.9848 22.5029 19.8326 20.3542 17.691 18.1949C17.4511 17.9515 17.3099 17.9515 17.0488 18.1667C14.8296 19.9979 12.2893 20.76 9.43139 20.3648C5.86434 19.8744 3.33107 17.9197 1.86685 14.6843C-0.29596 9.90358 1.71513 4.2831 6.48884 1.98622C11.005 -0.187173 16.569 1.28057 19.2222 5.90609C20.3266 7.82898 20.7112 9.91064 20.3901 12.1228C20.1149 14.0069 19.3881 15.6687 18.1391 17.1047C18.0791 17.1717 18.0297 17.2423 17.9591 17.3411ZM10.7298 19.765C15.6869 19.7756 19.7515 15.7287 19.7762 10.7504C19.8009 5.80024 15.7434 1.73219 10.7615 1.71455C5.82906 1.70396 1.71161 5.8073 1.71866 10.7362C1.72219 15.6581 5.81142 19.7544 10.7298 19.765Z" fill="currentColor" stroke="currentColor" stroke-width="0.75" stroke-miterlimit="10"/>
	</svg>
{%- endif -%}