{%- if style_icon == 'default-text' -%}
	<span class="icon icon-close h-auto">{{ 'accessibility.close' | t }}</span>
{%- else %}
  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <g clip-path="url(#clip0_921_737)">
      <path d="M2.29804 20.906L2.29803 20.906L2.29683 20.9072C2.17091 21.0402 2.10156 21.2178 2.10313 21.4019C2.1047 21.5859 2.17707 21.7623 2.30525 21.893C2.43349 22.0238 2.60739 22.0984 2.7896 22.1C2.9718 22.1016 3.14697 22.0301 3.27744 21.9016L3.27745 21.9016L3.27866 21.9004L12.0172 12.9915L20.9274 21.7217L20.9278 21.7221C21.0267 21.8179 21.1512 21.882 21.2861 21.9061C21.4209 21.9303 21.5597 21.9133 21.6849 21.8574C21.8102 21.8015 21.9162 21.7094 21.9899 21.5928C22.0635 21.4762 22.1018 21.3402 22.0999 21.2019L22.0999 21.2014C22.0983 21.1091 22.0788 21.0181 22.0426 20.9334C22.0064 20.8487 21.9542 20.772 21.8887 20.7077L21.8886 20.7076L12.9951 11.9931L21.7146 3.10245C21.7789 3.03698 21.8298 2.95935 21.8645 2.87403C21.8992 2.78872 21.9171 2.69733 21.9172 2.60508C21.9172 2.51282 21.8995 2.42141 21.8649 2.33604C21.8303 2.25068 21.7795 2.17297 21.7153 2.10741C21.6511 2.04185 21.5747 1.98972 21.4906 1.95409C21.4064 1.91846 21.3161 1.90007 21.2248 1.9C21.1336 1.89993 21.0432 1.9182 20.959 1.95371C20.8748 1.98922 20.7983 2.04124 20.7341 2.10671L20.734 2.10676L11.9978 11.0157L3.09012 2.28909C3.02584 2.22157 2.94885 2.16773 2.86361 2.13086C2.77777 2.09373 2.6854 2.0746 2.59203 2.07467C2.49866 2.07474 2.40631 2.094 2.32053 2.13126C2.23475 2.16851 2.15735 2.22296 2.0929 2.29125C2.02845 2.35953 1.97827 2.44025 1.94524 2.52853C1.91222 2.61681 1.89701 2.71091 1.90048 2.80523C1.90395 2.89955 1.92603 2.99225 1.96546 3.0778C2.00463 3.16278 2.06015 3.23903 2.12884 3.302L11.0188 12.014L2.29804 20.906Z" fill="currentColor" stroke="currentColor" stroke-width="0.2"/>
    </g>
    <defs>
      <clipPath id="clip0_921_737">
        <rect width="24" height="24" fill="white"/>
      </clipPath>
    </defs>
  </svg>
{%- endif -%}