{%- if style_icon == 'modern' %}
  <div class="icon-style-modern b-circle c-pointer d-flex j-c-center a-i-center">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" fill="none" viewBox="0 0 18 16">
      <path d="M1 .5a.5.5 0 100 1h15.71a.5.5 0 000-1H1zM.5 8a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1A.5.5 0 01.5 8zm0 7a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1a.5.5 0 01-.5-.5z" fill="currentColor">
    </svg>
  </div>
{%- elsif style_icon == 'default-text' -%}
	<span class="icon icon-hamburger h-auto">{{ 'sections.header.menu' | t }}</span>
{%- else %}
  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <path d="M21.1108 18.5696C21.2779 18.5698 21.4362 18.6304 21.5539 18.7354C21.6712 18.8401 21.7389 18.9802 21.748 19.1261C21.757 19.2718 21.7072 19.4175 21.6046 19.5333C21.5029 19.6481 21.3566 19.7251 21.1935 19.7449L21.1041 19.75H2.88915C2.72213 19.7498 2.56383 19.6893 2.44612 19.5842C2.32882 19.4796 2.26109 19.3394 2.25203 19.1936C2.24298 19.0478 2.29284 18.9021 2.3954 18.7863C2.49705 18.6715 2.64335 18.5945 2.80646 18.5747L2.89594 18.5696H21.1108ZM21.1111 11.4098C21.285 11.4098 21.449 11.4752 21.5679 11.5876C21.6863 11.6995 21.75 11.8482 21.75 12C21.75 12.1518 21.6863 12.3005 21.5679 12.4124C21.449 12.5248 21.285 12.5902 21.1111 12.5902H2.88889C2.71504 12.5902 2.55095 12.5248 2.43208 12.4124C2.31368 12.3005 2.25 12.1518 2.25 12C2.25 11.8482 2.31368 11.6995 2.43208 11.5876C2.55095 11.4752 2.71504 11.4098 2.88889 11.4098H21.1111ZM21.1111 4.25C21.285 4.25 21.449 4.31541 21.5679 4.42777C21.6863 4.53968 21.75 4.68835 21.75 4.84019C21.75 4.99203 21.6863 5.1407 21.5679 5.25261C21.449 5.36498 21.285 5.43038 21.1111 5.43038H2.88889C2.71504 5.43038 2.55095 5.36498 2.43208 5.25261C2.31368 5.1407 2.25 4.99203 2.25 4.84019C2.25 4.68835 2.31368 4.53968 2.43208 4.42777C2.55095 4.31541 2.71504 4.25 2.88889 4.25H21.1111Z" fill="currentColor" stroke="currentColor" stroke-width="0.5"/>
  </svg>
{%- endif -%}