<div class="gradient">
  <div class="password__footer page-width m-auto d-flex f-column a-i-center">
    {%- render 'social-icons',
      class: 'd-flex f-wrap j-c-center'
    -%}
    <small class="password__footer-login password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-password-footer.name"
}
{% endschema %}
