.password{
  min-height: 100vh;
}

.password-link .icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

.password-modal__content {
  padding: 4.5rem 3.2rem;
  box-sizing: border-box;
}

.password-modal__content .modal__close-button{
  top: 2.2rem;
  right: 2.2rem;
}

.password-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 50rem;
  grid-gap: 1rem;
}

.password-button {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  height: 5rem;
  min-width: 4.7rem;
  border: none;
}

.password-button .icon{
  width: 2.9rem;
  height: 1.6rem;
  transition: transform var(--duration-long) ease;
  will-change: transform;
}

.password-button:hover .icon{
  transform: scale(1.1) translateX(3px);
}

.password-main > section:only-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
}

.password-main >.section-main-password:not(:only-child) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
}

.password__content{
  padding: 1.5rem;
  max-width: calc(100% - 3rem);
  margin: auto;
}

.password__content--inner{
  padding: 3rem 1.5rem;
}

.password__content--inner .icon {
  width: 3rem;
  height: 3rem;
}

.password__footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.password__footer .list-social{
  margin-bottom: 1.5rem;
}

.password__footer-login {
  margin-top: 1rem;
}

.password-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  row-gap: 1.5rem;
}

password-modal {
  justify-self: flex-end;
  grid-column: 3;
}

.shopify-name {
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.icon-shopify {
  width: 7rem;
  height: 2rem;
}

@media only screen and (min-width: 750px) {
  .password-header {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .password__content{
    max-width: 50rem;
  }

  .password__content--inner{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}